<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 로그 출력 옵션 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    	<mappers>
    	
		<mapper resource="mybatis/mappers/loginMapper.xml"/>
		<mapper resource="mybatis/mappers/FavoriteMapper/xml"/>


	</mappers>
</configuration>
