<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.course.dao.CourseSpotDAO">

    <!-- 1) 코스 스팟 저장 -->
   <insert id="insertCourseSpot" parameterType="com.boot.course.entity.CourseSpot">
	  <selectKey keyProperty="spotId" resultType="long" order="BEFORE">
	    SELECT SEQ_SPOT_ID.NEXTVAL FROM DUAL
	  </selectKey>
	
	  INSERT INTO COURSE_SPOTS_TBL (
	    SPOT_ID, COURSE_ID, ORDER_INDEX, PLACE_ID, PLACE_TYPE, CREATED_AT
	  ) VALUES (
	    #{spotId}, #{courseId}, #{orderIndex}, #{placeId}, #{placeType}, SYSDATE
	  )
	</insert>


    <!-- 2) 코스 별 스팟 목록 조회 -->
    <select id="selectSpotsByCourseId" resultType="com.boot.course.entity.CourseSpot">
        SELECT
            SPOT_ID,
            COURSE_ID,
            ORDER_INDEX,
            PLACE_ID,
            PLACE_TYPE,
            CREATED_AT
        FROM COURSE_SPOTS_TBL
        WHERE COURSE_ID = #{courseId}
        ORDER BY ORDER_INDEX ASC
    </select>

    <!-- 3) 코스 삭제 시 스팟 삭제 -->
    <delete id="deleteSpotsByCourseId">
        DELETE FROM COURSE_SPOTS_TBL
        WHERE COURSE_ID = #{courseId}
    </delete>

</mapper>
