<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.loginDAO">

    <resultMap id="loginResultMap" type="com.boot.dto.loginDTO">
        <id property="accountId" column="ACCOUNT_ID"/>
        <result property="accountPw" column="ACCOUNT_PW"/>
        <result property="accountName" column="ACCOUNT_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="phoneNumber" column="PHONE_NUMBER"/>
        <result property="accountRole" column="ACCOUNT_ROLE"/>
        <result property="regDate" column="REG_DATE"/>
    </resultMap>

    <!-- 회원가입 -->
    <insert id="signup" parameterType="com.boot.dto.loginDTO">
        INSERT INTO account_tbl (
            account_id, account_pw, account_name, 
            email, phone_number, account_role, reg_date
        ) VALUES (
            #{accountId}, #{accountPw}, #{accountName},
            #{email}, #{phoneNumber}, 'USER', SYSDATE
        )
    </insert>

    <!-- 이메일 중복 체크 -->
    <select id="emailCheck" parameterType="string" resultType="int">
        SELECT COUNT(*) 
        FROM account_tbl
        WHERE email = #{email}
    </select>

    <!-- 전화번호 중복 체크 -->
    <select id="phoneCheck" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM account_tbl
        WHERE phone_number = #{phoneNumber}
    </select>

    <!-- 로그인 -->
    <select id="login" resultMap="loginResultMap">
        SELECT * FROM account_tbl
        WHERE account_id = #{accountId}
        AND account_pw = #{accountPw}
    </select>
    
 <select id="findById" resultMap="loginResultMap">
    SELECT *
    FROM account_tbl
    WHERE account_id = #{accountId}
</select>


<select id="findSocialUser" resultMap="loginResultMap">
    SELECT *
    FROM account_tbl
    WHERE social_type = #{socialType}
      AND social_id = #{socialId}
</select>

<insert id="insertSocial" parameterType="com.boot.dto.loginDTO">
    INSERT INTO account_tbl (
        account_id,
        account_name,
        email,
        phone_number,
        social_type,
        social_id,
        account_role,
        reg_date
    ) VALUES (
        #{accountId},
        #{accountName},
        #{email, jdbcType=VARCHAR},
        #{phoneNumber, jdbcType=VARCHAR},
        #{socialType},
        #{socialId},
        'USER',
        SYSDATE
    )
</insert>


</mapper>