.footer {
  width: 100%;
  background-color: #f8f8fb;
  border-top: 1px solid #e1e1e8;
  padding: 0.5rem 1rem; 
  font-family: "Segoe UI", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  font-size: 1rem; 
  font-weight: 600;
  margin: 0;
  color: #333;
}

.footer-desc {
  margin-top: 0.2rem;
  font-size: 0.75rem; 
  color: #666;
}

.footer-right {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-link {
  color: #555;
  font-size: 0.8rem; 
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: rgb(0, 128, 255);
}

.footer-bottom {
  margin-top: 0.5rem; 
  text-align: center;
  font-size: 0.75rem; 
  color: #777;
}